:root {--colorletra: rgb(153, 163, 164);
      --colorletra1:  rgb(229, 231, 233);   
       --colorfondo: rgba(234, 238, 241, 0.89);
       --colorfondo1: red;  
       --tipodeletra: Times New Roman, Helvetica, Arial;       
}

